
<div class="mw7 center ph3 pt4">
    <h2 class="f2 b lh-title mb2 primary ">Frequently Asked Questions</h2>        
    <div class="flex flex-wrap mv3">
        {{ partial "faq" (dict "question" "question 1" "answer" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus nunc sapien, eget bibendum elit feugiat a. Etiam in augue ac risus pulvinar vulputate vel eget nunc. Vestibulum scelerisque pulvinar mi quis tincidunt. Aliquam erat volutpat. Sed sagittis lorem a risus finibus scelerisque. Duis sed tellus leo.") }}
        {{ partial "faq" (dict "question" "question 2" "answer" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus nunc sapien, eget bibendum elit feugiat a. Etiam in augue ac risus pulvinar vulputate vel eget nunc. Vestibulum scelerisque pulvinar mi quis tincidunt. Aliquam erat volutpat. Sed sagittis lorem a risus finibus scelerisque. Duis sed tellus leo.") }}
    </div>
    
      <!-- {{ partial "media-block" (dict "heading" "UCN Sofiendalsvej" "text" "Our sponsor UCN has been so generous as to host the event and let us use the biggest room on the Sofiendalsvej campus for our main event room.  " "imageUrl" "/img/home/UCN.jpg") }}
    
      {{ partial "media-block-reverse" (dict "heading" "Mentors" "text" "As a participant you will get a chance to work one-on-one with some of the expert mentors who are present at the hackathon - The mentors will be assisting teams by teaching them new skills and helping you with your projects." "imageUrl" "/img/home/mentors.jpg") }}
    
      {{ partial "media-block" (dict "heading" "24 Hours" "text" "Teams of two to six people work together on developing a product in the span of the event. Most events happen over a weekend where participants will have the possibility to work on their projects or take part in some of the workshops and mini events that are planned." "imageUrl" "/img/home/24.jpg") }}    
     -->
    </div>