
<div class="mw7 center ph3 pt4">
    <h2 class="f2 b lh-title mb2 primary ">Frequently Asked Questions</h2>        
    <div class="flex flex-wrap mv3">
        {{ partial "faq" (dict "question" "What is a hackathon?" "answer" "A hackathon is usually a day long (can be 24 hours, 48 hours, etc.) coding competition where software programmers, developers, designers, etc. come together to build and design something cool.") }}
        {{ partial "faq" (dict "question" "Who can attend?" "answer" "Everyone who is a student or has recently graduated (at most one year prior to the event). ") }}
        {{ partial "faq" (dict "question" "When can I apply?" "answer" "The application period started and it will end on the 20th of February") }}
        {{ partial "faq" (dict "question" "I cant code. Can I still participate?" "answer" "Of course you can. You can contribute to the hacking with your own set of skills. Don’t forget, the ultimate scope is to have fun and enjoy the event!") }}
        {{ partial "faq" (dict "question" "Do I need a team to sign up?" "answer" "You don’t need a team to register, although, if you, together with a couple of friends, decide to participate as a team at the event, you are more than welcome to do so. Important to mention, all teams should have at least one programmer, since when the hacking will end, every team should have at least a working prototype of their idea.") }}
        {{ partial "faq" (dict "question" "How much does it cost?" "answer" "NordicHack is free of charge. We will be providing food and snacks on the duration of the event.") }}
        {{ partial "faq" (dict "question" "What should I bring?" "answer" "Bring your laptop, charger and overnight gear. if you think you have some tech that will help you during the hack, bring it. Don’t forget to bring your student ID (if you are a student) or a photo ID (if you are not a student anymore).") }}
        {{ partial "faq" (dict "question" "Code of Conduct" "answer" "Being partners with MLH, there is a code of conduct that must be followed during the event. this will make sure we make a event that everyone can enjoy and feel welcome." "link" "https://static.mlh.io/docs/mlh-code-of-conduct.pdf") }}
        
    </div>
    
      <!-- {{ partial "media-block" (dict "heading" "UCN Sofiendalsvej" "text" "Our sponsor UCN has been so generous as to host the event and let us use the biggest room on the Sofiendalsvej campus for our main event room.  " "imageUrl" "/img/home/UCN.jpg") }}
    
      {{ partial "media-block-reverse" (dict "heading" "Mentors" "text" "As a participant you will get a chance to work one-on-one with some of the expert mentors who are present at the hackathon - The mentors will be assisting teams by teaching them new skills and helping you with your projects." "imageUrl" "/img/home/mentors.jpg") }}
    
      {{ partial "media-block" (dict "heading" "24 Hours" "text" "Teams of two to six people work together on developing a product in the span of the event. Most events happen over a weekend where participants will have the possibility to work on their projects or take part in some of the workshops and mini events that are planned." "imageUrl" "/img/home/24.jpg") }}    
     -->
    </div>

    <script>


    </script>