<footer class="bg-black ph3 pv4 white">

    <div class="mw7 center pt3">

        <!-- <div class="measure-narrow center mb4">

            <img src="/img/wlogo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
            <p class="f3 lh-title light-gray b tc mb2">Newsletter</p>
            {{ partial "newsletter-form" . }}

        </div> -->

        <div class="flex-ns justify-between">

            <div>
                <h3 class="f4 b lh-title mb1 primary">Nordic Hack</h3>
                <ul class="mb3">
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="#about" class="link">About</a></li>                    
                    <!-- <li><a href="/sponsors" class="link">Sponsors</a></li>                    
                    <li><a href="/post" class="link">Blog</a></li>
                    <li><a href="/contact" class="link">Contact</a></li> -->
                    <li><a href="NordicHackProposal.pdf" class="link">Become a sponsor</a></li>
                    <li><a href="volunteers.pdf" class="link">Become a volunteer</a></li>

                </ul>
            </div>

            <div>
                <h3 class="f4 b lh-title mb1 primary">MLH</h3>
                <ul class="mb3">
                   <li> <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" class="link">MLH Code of conduct</a></li>
                </ul>
            </div>

            <div>
                <h3 class="f4 b lh-title mb2 primary">Social media</h3>
                <ul class="mhn2">
                    {{ partial "social-icon" (dict "link" "#" "svg" "facebook") }} {{ partial "social-icon" (dict "link" "#" "svg" "twitter") }} {{ partial "social-icon" (dict "link" "#" "svg" "instagram") }} {{ partial "social-icon" (dict "link" "#" "svg" "vimeo") }}
                </ul>
            </div>

        </div>
    </div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>