<!doctype html>
<html lang="en-US">

<head>

    <title>{{ .Title }} | Kaldi</title>
    <link rel="stylesheet" href="/css/main.css" />

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- Favicons -->


    <!-- Open Graph -->
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Kaldi | Great coffee with a conscience">
    <meta property="og:url" content="/">
    <meta property="og:image" content="/og-image.jpg">

</head>

<body class="sans-serif">