{{ if .title }}
<div class="pv5 pv6-l ph3 bg-center cover bg-primary">
    <div class="mw7 center ph3">

        <div class="db mb3">
            <div class="mw7 relative mb3 bg-fix-primary">
                <h1 class="f2 f1-l b di lh-title mb3 grey-1 mw6 bg-primary">
                    {{.title}}
                </h1>
            </div>
            <div class="mw7 relative bg-fix-primary">
                {{ if .subtitle }}
                <p class="b f4 di lh-title mb3 grey-1 mw6 bg-primary">
                    {{.subtitle}}
                </p>
                {{ end }}
            </div>
        </div>
        {{ if .buttonText }}
        <div class="">
            <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }} {{ if .vector1 }}

<div class="bg-primary bg-center">
    <div class="flex">
        <div class="w-50 w-100-ns h-5 mt5 pv3">
            <img src="{{.vector2}}" alt="">
        </div>
        <div class="w-50 mt5 pv6">
            <img src="{{.vector1}}" class=" v-mid" alt=""> 
            {{ partial "short-text" (dict "heading" "23 - 24. Februar" "text" "Sofiendalsvej 60, Aalborg")}}
            {{ if .buttonText }}
            <div class="">
                <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
            </div>
            {{ end }}
        </div>

    </div>
</div>

{{ end }}