<div class="bg-primary mw9 center ph3-ns">
    <div class="flex ph5-ns pt2 pb2">
        <div class="fl w-50-ns mt6-ns mt5">
            <img src="{{.vector2}}" alt="">
        </div>
        <div class="fl w-50 pa2 mt6-ns mt5">
            <img src="{{.vector1}}" class="" alt="">
            <h1 class="white b f2-ns f3">
                23 - 24. February 2018
            </h1>
            {{ if .buttonText }}
            <br>
                <h2 class="white b f3-ns">
                    Thank you for a fantastic event!
                    <br>
                    We are coming back in November!
                </h2>
                <!-- <a href="{{.buttonLink}}" target="_blank" class="btn raise">{{.buttonText}}</a> -->
            {{ end }}
        </div>
    </div>
</div>