<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black divider-grey fixed w-100">

    <!-- Logo -->
    <a href="/" class="pa2 db mr2 h-100 w4 flex-none">
        <img src="/img/wlogo.svg" alt="Nordic Hack logo" class="br0 db mb0 w-100" />
    </a>

    <!-- Primary Nav -->
    <ul class="flex b grey-1">
        <!-- <li><a href="/#about" class="f6 pa2 no-underline db">About</a></li> -->
        <li><a href="https://my.mlh.io/oauth/authorize?client_id=883a92ee0f03f4e91a37a7d14d3b6601ddc455414ec4c2925db1399182e767be&redirect_uri=http%3A%2F%2Fnordichack.com%2Fthanks&response_type=token" class="f6 pa2 no-underline db">Register</a></li>
        <!-- <li><a href="/sponsors" class="f6 pa2 no-underline db">Sponsors</a></li> -->
        <!-- <li><a href="/post" class="f6 pa2 no-underline db">Blog</a></li> -->
        <!-- <li><a href="/contact" class="f6 pa2 no-underline db">Contact</a></li> -->
    </ul>
</nav>
<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/eu-2018/events?utm_source=eu-2018&utm_medium=TrustBadge&utm_campaign=eu-2018&utm_content=gray" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/gray.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>
