<div class="bg-off-white pv4">
    <div class="ph3 mw7 center">
        <h2 class="f2 primary b lh-title mb3">Sponsors</h1>
            <div class="cf ma3 pa2">
                <div class="center flex flex-wrap items-center">
                    {{ partial "sponsor" (dict "heading" "UCN Technology and business" "imageURL" "/img/home/UCN-logo.png" "buttonLink" "https://www.ucn.dk/" ) }} 
                    {{ partial "sponsor" (dict "heading" "Teknisk Landsforbund" "imageURL" "/img/home/TL.png" "buttonLink" "https://www.tl.dk/" ) }} 
                    {{ partial "sponsor" (dict "heading" "Major League Hacking" "imageURL" "/img/home/mlh.png" "buttonLink" "https://mlh.io/" ) }}
                    {{ partial "sponsor" (dict "heading" "IntelFlows" "imageURL" "/img/home/intelflows.jpg" "buttonLink" "http://intelflows.com" ) }}
                </div>
            </div>
    </div>