<main class="cf w-100">
    <!-- <div class="pv3 ph2">
        <a href="{{.buttonLink}}" class="db link dim tc">
            <img src="{{.imageURL}}" alt="Sponser" class="w-100 db outline black-10" />
            <dl class="mt2 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black w-100 b">{{.heading}}</dd>
                <dt class="clip">Artist</dt>
            </dl>
        </a>
    </div> -->
<!-- 
    <div class="ph2">
        <a href="{{.buttonLink}}" class="db link dim tc">
            <img src="/img/home/sponsor-placeholder_1.jpg" alt="Sponser" class="w-100 db outline black-10" />
            <dl class="mt2 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black w-100 b">Be a Sponsor</dd>
                <dt class="clip">Artist</dt>
            </dl>
        </a>
    </div> -->

    <div class="w-100">
        <div class="pv3 fl w-third ph2">
            <a href="{{.buttonLink}}" class="db link dim tc">
                <img src="{{.imageURL}}" alt="Sponser" class="w-100 db outline black-10" />
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black w-100 b">{{.heading}}</dd>
                </dl>
            </a>
        </div>
        <!-- <div class="pv3 fl w-third ph2">
            <a href="{{.buttonLink}}" class="db link dim tc">
                <img src="/img/home/sponsor-placeholder_1.jpg" alt="Sponser" class="w-100 db outline black-10" />
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black w-100 b">Be a Sponsor</dd>
                    <dt class="clip">Artist</dt>
                </dl>
            </a>
        </div>
        <div class="pv3 fl w-third ph2">
            <a href="{{.buttonLink}}" class="db link dim tc">
                <img src="/img/home/sponsor-placeholder_1.jpg" alt="Sponser" class="w-100 db outline black-10" />
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black w-100 b">Be a Sponsor</dd>
                    <dt class="clip">Artist</dt>
                </dl>
            </a>
        </div> -->
    </div>
    <!-- <div class="pv2 w-100">
        <div class="fl w-25 ph2">
            <a href="{{.buttonLink}}" class="db link dim tc">
                <img src="/img/home/sponsor-placeholder_1.jpg" alt="Sponser" class="w-100 db outline black-10" />
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black w-100 b">Be a Sponsor</dd>
                    <dt class="clip">Artist</dt>
                </dl>
            </a>
        </div>
        <div class="fl w-25 ph2">
            <a href="{{.buttonLink}}" class="db link dim tc">
                <img src="/img/home/sponsor-placeholder_1.jpg" alt="Sponser" class="w-100 db outline black-10" />
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black w-100 b">Be a Sponsor</dd>
                    <dt class="clip">Artist</dt>
                </dl>
            </a>
        </div>
        <div class="fl w-25 ph1">
            <a href="{{.buttonLink}}" class="db link dim tc">
                <img src="/img/home/sponsor-placeholder_1.jpg" alt="Sponser" class="w-100 db outline black-10" />
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black w-100 b">Be a Sponsor</dd>
                    <dt class="clip">Artist</dt>
                </dl>
            </a>
        </div>
        <div class="fl w-25 ph2">
            <a href="{{.buttonLink}}" class="db link dim tc">
                <img src="/img/home/sponsor-placeholder_1.jpg" alt="Sponser" class="w-100 db outline black-10" />
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black w-100 b">Be a Sponsor</dd>
                    <dt class="clip">Artist</dt>
                </dl>
            </a>
        </div>
    </div> -->

</main>