<div class="bg-primary pv4">
    <div class="ph3 mw7 center">
        <h2 class="f2 black b lh-title mb3">Team</h2>
        <div class="flex flex-wrap">
           {{ partial "team-member" (dict "name" "Andreea Bianca Buza" "title" "Head of finance")}}
           {{ partial "team-member" (dict "name" "Ana-Maria Pashova" "title" "Head of marketing")}}
           {{ partial "team-member" (dict "name" "Frankie Norbert Vicze" "title" "Head of design/brand")}}
           {{ partial "team-member" (dict "name" "Hawkar P" "title" "Head of logistics")}} 
           {{ partial "team-member" (dict "name" "Cristian Mihai Paşcalău" "title" "Organizer")}}           
           {{ partial "team-member" (dict "name" "Daniel Richter" "title" "Organizer")}} 
           {{ partial "team-member" (dict "name" "Hamun Munikiki" "title" "Organizer")}}           
           {{ partial "team-member" (dict "name" "Yana Maksimova Boozova" "title" "Organizer")}}          
        </div>
    </div>
</div>