<div class="bg-primary pv4">
    <div class="ph3 mw7 center">
        <h2 class="f2 black b lh-title mb3">Team</h2>
        <div class="flex flex-wrap">
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}}
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}}
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}}
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}} 
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}}           
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}} 
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}}           
           {{ partial "team-member" (dict "name" "Mimi purs" "title" "head of entertainment")}}          
        </div>
    </div>
</div>