<div class="bg-primary pv4">
    <div class="ph3 mw7 center">
        <h2 class="f2 black b lh-title mb3">Schedule</h2>
        <h3 class="f4 b black lh-title mb3 tc">TBA</h3>
        
            <!-- <ul class="list pl0 mt0 measure center">
                
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "23. Feb. 16:00PM" "heading" "Registration" "subtext" "Check in at the intrance")}} 
              
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "23. Feb. 17:00PM"  "heading" "Introduction" "subtext" "Welcome to Nordic Hack talk")}}                 
              
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "23. Feb. 6:00PM" "heading" "Hacking begins" "subtext" "We start hacking")}} 
              
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "23. Feb. 8:00PM"  "heading" "Dinner" "subtext" "Time to eat!")}}                 
              
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "24. Feb. 1:00AM" "heading" "Snacks" "subtext" "Snacks will be provided")}} 
              
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "24. Feb. 8:00AM"  "heading" "Breakfast" "subtext" "Start the last day")}}    
              
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "24. Feb. 12:00pm"  "heading" "Expo" "subtext" "Time to show your products")}}                 
                
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "24. Feb. 2:00PM"  "heading" "Lunch" "subtext" "Time for lunch")}}                 
                
                {{ partial "activity" (dict "imageURL" "http://tachyons.io/img/avatar-mrmrs.jpg" "time" "24. Feb. 3:00PM"  "heading" "Finale" "subtext" "winners will be announced")}}                 
                
            </ul> -->
            <div class="w-50 center">
                <img src="img/svg/ill2.svg" class="" alt="">
            </div>
    </div>
</div>