<div class="bg-primary pv4">
    <div class="ph3 mw7 center">
        <h2 class="f2 black b lh-title mb3">Schedule</h2>
        <article class="cf center">
            <div class="fl w-100 tc activity">
                <article class="dt w-100 b--black-05 pb2" href="#0">
                    <div class="dtc v-mid pl3">
                        <h1 class="f3 f5-ns fw6 lh-title mv0">Check-in and registration</h1>
                        <h2 class="f3 fw4 mt0 mb0 black-60">14:00 - 15:00</h2>
                    </div>
                </article>
            </div>
            <div class="fl w-50-ns tc activity">
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title black mv0">Welcoming of the participants and the sponsors and formation of the groups </h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">15:00 - 16:30</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Start of the hacking and check-ups with mentors</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">16:30 - 18:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Speeches by guest lecturers</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">18:00 - 19:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Dinner</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">19:00 - 20:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Hacking time</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">20:00 - 22:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">A short game provided by MLH</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">22:00 - 24:00</h2>
                        </div>
                    </article>
            </div>
            <div class="fl w-50-ns bg--off-white tc activity">
                    <article class="dt w-100 b--grey-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Hacking time</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">24:00 - 08:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Breakfast/Brunch</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">08:00 - 10:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Hacking time and check-ups with mentors</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">10:00 - 15:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Presentation of the projects by the teams</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">15:15 - 17:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Judges will evaluate projects</h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">17:00 - 18:00</h2>
                        </div>
                    </article>
                    <article class="dt w-100 b--black-05 pb2 mt2" href="#0">

                        <div class="dtc v-mid pl3">
                            <h1 class="f6 f5-ns fw6 lh-title mv0">Announcement of the winners, rewarding and closing ceremony </h1>
                            <h2 class="f6 fw4 mt0 mb0 black-60">18:00 - 19:00</h2>
                        </div>
                    </article>
                </div>
        </article>
    </div>
</div>