::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--black);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}
nav{
  z-index: 999;
}

/* #mlh-trust-badge{
  margin-top: 60px;
}
@media screen and (width >= 500px) and (width <= 800px) {
 
#mlh-trust-badge{
  margin-top: 45px;

}
}
@media screen and (width >= 800px) and (width <= 960px) {
  
 #mlh-trust-badge{
   margin-top: 45px;
 
 }
 }
 @media screen and (width >= 100px) and (width <= 500px) {
  
 #mlh-trust-badge{
   margin-top: 45px;
 
 }
 } */