{{ partial "head" . }} 

{{ partial "nav" . }}

{{ partial "landing" (dict "bg" "/img/home/jimage.jpg" "vector1" "/img/theme.svg" "vector2" "/img/mac.svg" "subtitle" "Imagine tomorrow by hacking today" "buttonText" "Register now" "buttonLink" "https://my.mlh.io/oauth/authorize?client_id=eb7228eca82deef191e7f9581237bf214364aef880480c509d5ce6eb9642dd6f&redirect_uri=http%3A%2F%2Fnordichack.com%2Fthanks%2F&response_type=token" "volunteerText" "Become a volunteer" "volunteerLink" "Volunteers.jpg") }} 
 
{{ partial "2-up" (dict "imageUrl" "/img/home/nh.jpg" "heading" "What is Nordic Hack?" "description" "Nordic Hack is a hackathon for students hosted by other students. At Nordic Hack we focus on making an event where students can benefit from participating. Students will have opportunity to learn new skills, connect with corporate sponsors and have fun with other students who share their passion for building new and cool stuff." "svg1" "img/svg/brainstorm.svg" "text1" "Brainstorm" "svg2" "/img/svg/design.svg" "text2" "Design " "svg3" "/img/svg/Develop.svg" "text3" "Develop " "buttonText" "Register here" "buttonLink" "/register" ) }} 

{{ partial "short-text" (dict "heading" "UCN" "text" "Sofiendalsvej 60, Aalborg")}} 

{{ partial "faqs" . }}

<!-- {{ partial "blog" . }} -->

{{ partial "timeline" . }}

{{ partial "sponsors" . }}

{{ partial "team" . }}

{{ partial "footer" . }}